/* ---------------------------------------------------------------------------- */
/* -------------------------------- ANIMATION --------------------------------- */
/* ---------------------------------------------------------------------------- */


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}


/* ---------------------------------------------------------------------------- */
/* -------------------------------- CONTAINER --------------------------------- */
/* ---------------------------------------------------------------------------- */


html,
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	touch-action: none;
}

#container {
	position: fixed;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	background-color: rgba(210, 194, 157, 1);
	touch-action: none;
}


/* ---------------------------------------------------------------------------- */
/* ------------------------------- SECTION ALL -------------------------------- */
/* ---------------------------------------------------------------------------- */


#section1,
#section2,
#section3 {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 768px;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
}

#section1 { background-color: #0088ff; }
#section2 { background-color: #00539C; }
#section3 { background-color: #00294d; }

#section1 .section-content,
#section2 .section-content,
#section3 .section-content {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	width: 1024px;
	height: 768px;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	overflow: hidden;
}

#section1 .section-content {
	background: url(../img/slide-1/slide-1.jpg) 50% 50% no-repeat;
	background-size: cover;
}

#section2 .section-content {
	background: url(../img/slide-2/slide-2.jpg) 50% 50% no-repeat;
	background-size: cover;
}

#section3 .section-content {
	background: url(../img/slide-3/slide-3.jpg) 50% 50% no-repeat;
	background-size: cover;
}


/* ---------------------------------------------------------------------------- */
/* -------------------------------- SECTION 1 --------------------------------- */
/* ---------------------------------------------------------------------------- */


#section1 .title {
	position: absolute;
	font-family: 'Gotham Pro', sans-serif;
	font-weight: normal;
	font-size: 48px;
	color: #0d319c;
	line-height: 64px;
	top: 116px;
	left: 72px;
}

#section1 .text-block-1,
#section1 .text-block-2,
#section1 .text-block-4 {
	display: flex;
	flex-direction: column;
	position: absolute;
	justify-content: flex-start;
	align-items: center;
}

#section1 .text-block-3 {
	display: flex;
	position: absolute;
	justify-content: flex-start;
	align-items: center;
}

#section1 .text-block-1 {
	top: 392px;
	left: 214px;
}

#section1 .text-block-2 {
	top: 502px;
	left: 404px;
}

#section1 .text-block-3 {
	top: 255px;
	left: 558px;
}

#section1 .text-block-4 {
	top: 481px;
	left: 784px;
}

#section1 .text-block-1 .text,
#section1 .text-block-2 .text,
#section1 .text-block-4 .text {
	font-family: 'Gotham Pro', sans-serif;
	font-weight: normal;
	font-size: 20px;
	margin-bottom: 12px;
	color: #0d319c;
}

#section1 .text-block-3 .text {
	font-family: 'Gotham Pro', sans-serif;
	font-weight: normal;
	font-size: 20px;
	margin-left: 12px;
	color: #0d319c;
	order: 1;
}

#section1 .text-block-1 .pic {
	width: 30px;
	height: 30px;
}

#section1 .text-block-2 .pic {
	width: 20px;
	height: 20px;
}

#section1 .text-block-3 .pic {
	width: 60px;
	height: 60px;
}

#section1 .text-block-4 .pic {
	width: 20px;
	height: 20px;
}


/* ---------------------------------------------------------------------------- */
/* -------------------------------- SECTION 2 --------------------------------- */
/* ---------------------------------------------------------------------------- */


#parallax__layer--front {
	display: flex;
	position: absolute;
	justify-content: center;
	align-items: center;
	min-width: 1024px;
	min-height: 768px;
	top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
	background: url(../img/slide-2/slide-2-front.png) 50% 50% no-repeat;
	background-size: cover;
	transform: translate3d(0px, -40px, 0px);
}

#section2 .title {
	margin-top: -120px;
	font-family: 'Gotham Pro', sans-serif;
	font-weight: 100;
	font-size: 48px;
	color: white;
	line-height: 64px;
	text-align: center;
}


/* ---------------------------------------------------------------------------- */
/* -------------------------------- SECTION 3 --------------------------------- */
/* ---------------------------------------------------------------------------- */


#slides-container {
	display: flex;
	position: absolute;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	right: 0px;
	transition-duration: 1s;
}

#slides-container div {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	width: 1024px;
	height: 768px;
	
}

#slides-container div:nth-child(1) {
	background: url(../img/slide-3/slide-3-3.png) 50% 50% no-repeat;
	background-size: cover;
}

#slides-container div:nth-child(2) {
	background: url(../img/slide-3/slide-3-2.png) 50% 50% no-repeat;
	background-size: cover;
}

#slides-container div:nth-child(3) {
	background: url(../img/slide-3/slide-3-1.png) 50% 50% no-repeat;
	background-size: cover;
}

#slider {
	display: flex;
	position: absolute;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	align-self: flex-end;
	width: 600px;
	bottom: 28px;
	z-index: 10;
}

#slider .slider-move {
	display: flex;
	position: relative;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	height: 60px;
}

#slider .slider-years {
	display: flex;
	position: relative;
	justify-content: space-between;
	align-items: center;
	width: 570px;
	margin-top: 16px;
}

#slider-ice {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%;
	height: 80px;
	background: none;
  outline: none;
	z-index: 20;
}

#slider-ice::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
	appearance: none;
  width: 46px;
  height: 58px;
  background: url(../img/slide-3/ise-handler.svg) 50% 50% no-repeat;
  cursor: pointer;
}

#slider-runner {
	position: absolute;
	width: 570px;
	height: 12px;
	background: #d2e8f8;
	opacity: 0.8;
	margin-left: 15px;
}

.slider-move .slider-runner-transparent {
	position: absolute;
	width: 570px;
	height: 12px;
	background: #d2e8f8;
	opacity: 0.8;
	margin-left: 15px;
	opacity: 0.2;
}

.slider-years span {
	font-family: 'Gotham Pro', sans-serif;
	font-weight: 100;
	font-size: 20px;
	color: white;
}


/* ---------------------------------------------------------------------------- */
/* --------------------------------- NAVIGATION ------------------------------- */
/* ---------------------------------------------------------------------------- */


.navigation {
	display: flex;
	position: absolute;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.nav-container {
	display: flex;
	position: absolute;
	justify-content: flex-end;
	align-items: center;
	max-width: 1024px;
	height: 100%;
}

#right-dots {
	display: flex;
	/* position: relative; */
	flex-direction: column;
	position: fixed;
	justify-content: space-around;
	align-items: center;
	width: 20px;
	height: 64px;
	z-index: 5;
	margin-left: -16px;
}

#right-dots .right-dots__1,
#right-dots .right-dots__2,
#right-dots .right-dots__3 {
	width: 16px;
	height: 16px;
	background-color: white;
	border-radius: 50%;
	transition-delay: 0.6s;
	transition-duration: 0.4s;
}

#right-dots .right-dots__1.active { background-color: #f78b1f; }
#right-dots .right-dots__2.active { background-color: #f78b1f; }
#right-dots .right-dots__3.active { background-color: #f78b1f; }

.bottom-block {
	display: flex;
	flex-direction: column;
	position: absolute;
	justify-content: flex-start;
	align-items: center;
	align-self: flex-end;
	width: 100%;
	height: 84px;
	background-image: url(../img/slide-1/bottom-orange.png);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 5;
	animation-name: fadeIn;
	animation-duration: 1s;
}

.bottom-block.active {
	
	transition-delay: 1s;
	transition-duration: 0.6s;
	opacity: 1;
}

.bottom-block.none {
	transition-delay: 0.6s;
	transition-duration: 0.4s;
	opacity: 0;
}

#bottom-block .bottom-block__text {
	font-family: 'Gotham Pro', sans-serif;
	font-weight: normal;
	font-size: 16px;
	color: white;
	letter-spacing: 0.4pt;
	margin-top: 12px;
}

#bottom-block .bottom-block__arrow {
	margin-top: 10px;
}